<div class="panel-heading">
        <div *ngIf="!isWriteMode; then readModeBlock else writeModeBlock"></div>
        <ng-template #readModeBlock>
                <div *ngIf="!isUpdateMode; then addModeBlock else updateModeBlock"></div>
                <ng-template #addModeBlock>
                        <button id='addFamily' class="btn btn-primary" (click)="onStartButtonClicked()">Add New Family</button>
                </ng-template>
                <ng-template #updateModeBlock>
                        <div id='existingFamily'>
                                <span id='existingFamilyName'>{{family.name}}</span>
                                <span id='existingFamilyHeadCount'>{{family.headCount}}</span>
                                <button id='editFamily' class="btn btn-primary" (click)="onStartButtonClicked()">Edit</button>
                        </div>
                </ng-template>
        </ng-template>
        <ng-template #writeModeBlock>
                <input id='familyName' type="text" [(ngModel)]='value.name' />
                <input id='familyHeadCount' type="text" [(ngModel)]='value.headCount' />
                <button id='saveFamily' class="btn btn-primary" (click)="onSaveButtonClicked()">Save</button>
                <button id='cancelFamily' class="btn btn-primary" (click)="onCancelButtonClicked()">Cancel</button>
                <span id='error'>{{errorMessage}}</span>
        </ng-template>
</div>